@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application is a private-use only website for an IoT solution. Your IP address, along with application insight data, will be sent with requests to be used for authentication and validation.</p>

<strong>IMPORTANT</strong>
<p>If you are not the owner of this website, you do not have authorization to use any feature unless explicitly requested by the owner.</p>
